<!DOCTYPE html>
<html lang="en">
<header>
    <title>
        Todo Lists
    </title>
</header>

<body>
    <main>
        <div>
            <h1>{{ todo_object.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todos in todo_object.items.all %}
                    <tr>
                        <td>{{ todos.task }}</td>
                        <td>{{ todos.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
