<!DOCTYPE html>
<html lang="en">
<header>
    <title>
        Todos List
    </title>
</header>

<body>
    <main>
        <div>
            <h1>
                My Lists
            </h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todos in todolist %}
                    <tr>
                        <td><a href="{% url 'show_todo' todos.id %}">{{ todos.name }}</a></td>
                        <td><a href="{% url 'show_todo' todos.id %}">{{ todos.items.all|length }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
